<MemoryGame>
<label>number memory game</label>
<about>{}</about>
<widget_language>en</widget_language>
<title searchable="true">number memory game</title>
<resize-policy value="Contain entire picture, keep aspect ratio">Contain entire picture, keep aspect ratio</resize-policy>
<autoscale-text>true</autoscale-text>
<show-matches-using value="COLSYMS">Using colors and symbols</show-matches-using>
<rewardWord searchable="true">Congratulations!</rewardWord>
<rewardAudio/>
<number-cards>false</number-cards>
<instructions_title searchable="true">Instructions</instructions_title>
<instructions richData="{&quot;blocks&quot;:[{&quot;text&quot;:&quot;&quot;,&quot;type&quot;:&quot;unstyled&quot;,&quot;dataRanges&quot;:[]}]}">
<text searchable="true">&lt;div>&lt;p/>&lt;/div></text>
<images/>
</instructions>
<allow_sharing>false</allow_sharing>
<share_action searchable="true">https://api.bookwidgets.com/api/v1/quiz/share</share_action>
<allow_download>false</allow_download>
<download_action searchable="true">https://api.bookwidgets.com/api/v1/quiz/download</download_action>
<save_answers>true</save_answers>
<uuid2>{d82e9210-4a3b-11ed-a1bd-d39b7f553a08}</uuid2>
<origbase_version>1</origbase_version>
<text_to_speech value="no">No text-to-speech</text_to_speech>
<t2s_language_1 value="en_us">English (American)</t2s_language_1>
<t2s_language_2 value="en_us">English (American)</t2s_language_2>
<pairs>
<TextText>
<card_1 searchable="true">yi</card_1>
<card_2 searchable="true">one</card_2>
</TextText>
<TextText>
<card_1 searchable="true">er</card_1>
<card_2 searchable="true">two</card_2>
</TextText>
<TextText>
<card_1 searchable="true">san</card_1>
<card_2 searchable="true">three</card_2>
</TextText>
<TextText>
<card_1 searchable="true">si</card_1>
<card_2 searchable="true">four</card_2>
</TextText>
<TextText>
<card_1 searchable="true">wu</card_1>
<card_2 searchable="true">five</card_2>
</TextText>
<TextText>
<card_1 searchable="true">liu</card_1>
<card_2 searchable="true">six</card_2>
</TextText>
<TextText>
<card_1 searchable="true">qi</card_1>
<card_2 searchable="true">seven</card_2>
</TextText>
<TextText>
<card_1 searchable="true">ba</card_1>
<card_2 searchable="true">eight</card_2>
</TextText>
<TextText>
<card_1 searchable="true">jiu</card_1>
<card_2 searchable="true">nine</card_2>
</TextText>
<TextText>
<card_1 searchable="true">shi</card_1>
<card_2 searchable="true">ten</card_2>
</TextText>
<TextText>
<card_1 searchable="true">er shi</card_1>
<card_2 searchable="true">twenty</card_2>
</TextText>
<TextText>
<card_1 searchable="true">bai</card_1>
<card_2 searchable="true">hundred</card_2>
</TextText>
<TextText>
<card_1 searchable="true">ling</card_1>
<card_2 searchable="true">zero</card_2>
</TextText>
</pairs>
<submit_answers>false</submit_answers>
<submitformfields>
<formfield isVisible="true" defaultValue="" isEditable="true">student_name</formfield>
<formfield isVisible="true" defaultValue="" isEditable="true">student_email</formfield>
<formfield isVisible="false" defaultValue="" isEditable="true">student_id</formfield>
<formfield isVisible="false" defaultValue="" isEditable="true">student_class_id</formfield>
<formfield isVisible="true" defaultValue="" isEditable="false">teacher_email</formfield>
</submitformfields>
<email_should_have_grading>true</email_should_have_grading>
<action searchable="true">https://api.bookwidgets.com/api/v1/quiz/post</action>
<maximum_score searchable="true">10</maximum_score>
<support_student_account value="no">No student accounts</support_student_account>
<student_account_authproviders/>
<student_account_school>
<code/>
<name/>
</student_account_school>
<student_account_authrestrict>true</student_account_authrestrict>
<LocalizationMap>
<localization>
<phrase>All cards will be cleared, this can not be undone. Are you sure?</phrase>
<translation/>
</localization>
<localization>
<phrase>Clear the cards and start over?</phrase>
<translation/>
</localization>
<localization>
<phrase>Yes, clear</phrase>
<translation/>
</localization>
<localization>
<phrase>No, keep</phrase>
<translation/>
</localization>
<localization>
<phrase>Your answers were sent successfully!</phrase>
<translation/>
</localization>
<localization>
<phrase>Your answers could not be sent.</phrase>
<translation/>
</localization>
<localization>
<phrase>Unable to send answers. Make sure you're connected to the internet.</phrase>
<translation/>
</localization>
<localization>
<phrase>Complete the form and click send to submit your answers to your teacher.</phrase>
<translation/>
</localization>
<localization>
<phrase>Complete the form and click send to email your answers.</phrase>
<translation/>
</localization>
<localization>
<phrase>Number of tries</phrase>
<translation/>
</localization>
<localization>
<phrase>Authentication error.</phrase>
<translation/>
</localization>
<localization>
<phrase>Cancel</phrase>
<translation/>
</localization>
<localization>
<phrase>Could not connect to server, check your internet connection.</phrase>
<translation/>
</localization>
<localization>
<phrase>Email</phrase>
<translation/>
</localization>
<localization>
<phrase>Forgot password?</phrase>
<translation/>
</localization>
<localization>
<phrase>Not logged in</phrase>
<translation/>
</localization>
<localization>
<phrase>OK</phrase>
<translation/>
</localization>
<localization>
<phrase>Offline</phrase>
<translation/>
</localization>
<localization>
<phrase>Online</phrase>
<translation/>
</localization>
<localization>
<phrase>Password</phrase>
<translation/>
</localization>
<localization>
<phrase>Please sign in</phrase>
<translation/>
</localization>
<localization>
<phrase>Received error trying to sign in</phrase>
<translation/>
</localization>
<localization>
<phrase>School code</phrase>
<translation/>
</localization>
<localization>
<phrase>Server error when signing in.</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in failed</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in to save your answers online</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in using</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in using email and password</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign in using school account</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign out</phrase>
<translation/>
</localization>
<localization>
<phrase>Sign up here</phrase>
<translation/>
</localization>
<localization>
<phrase>Username</phrase>
<translation/>
</localization>
<localization>
<phrase>Waiting</phrase>
<translation/>
</localization>
<localization>
<phrase>Waiting for account sign in to complete...</phrase>
<translation/>
</localization>
<localization>
<phrase>Widget configuration error: school doesn't exist</phrase>
<translation/>
</localization>
<localization>
<phrase>Wrong username or password, please try again.</phrase>
<translation/>
</localization>
<localization>
<phrase>You need to be signed in to use this widget.</phrase>
<translation/>
</localization>
<localization>
<phrase>You're currently offline and logged in as user:</phrase>
<translation/>
</localization>
<localization>
<phrase>You're currently online and logged in as user:</phrase>
<translation/>
</localization>
<localization>
<phrase>You're offline</phrase>
<translation/>
</localization>
<localization>
<phrase>Your progress on this activity will be shared with your teacher.</phrase>
<translation/>
</localization>
<localization>
<phrase>More info</phrase>
<translation/>
</localization>
<localization>
<phrase>Your answers couldn't be loaded because the question changed</phrase>
<translation/>
</localization>
<localization>
<phrase>Some of your answers couldn't be loaded because the question changed</phrase>
<translation/>
</localization>
<localization>
<phrase>Class ID</phrase>
<translation/>
</localization>
<localization>
<phrase>Send</phrase>
<translation/>
</localization>
<localization>
<phrase>Send Answer</phrase>
<translation/>
</localization>
<localization>
<phrase>Send Failed</phrase>
<translation/>
</localization>
<localization>
<phrase>Sending, please wait...</phrase>
<translation/>
</localization>
<localization>
<phrase>Student Email</phrase>
<translation/>
</localization>
<localization>
<phrase>Student ID</phrase>
<translation/>
</localization>
<localization>
<phrase>Student Name</phrase>
<translation/>
</localization>
<localization>
<phrase>Submit</phrase>
<translation/>
</localization>
<localization>
<phrase>Teacher Email</phrase>
<translation/>
</localization>
<localization>
<phrase>This field is required:</phrase>
<translation/>
</localization>
<localization>
<phrase>Uploading image</phrase>
<translation/>
</localization>
<localization>
<phrase>Uploading audio</phrase>
<translation/>
</localization>
<localization>
<phrase>Uploading your answers...</phrase>
<translation/>
</localization>
<localization>
<phrase>You can't specify multiple addresses for field:</phrase>
<translation/>
</localization>
<localization>
<phrase>Submit is disabled because you're not logged in with a student account. e.g. you may be using a parent account.</phrase>
<translation/>
</localization>
<localization>
<phrase>Sent successfully</phrase>
<translation/>
</localization>
<localization>
<phrase>The email address you provided has not been activated.</phrase>
<translation/>
</localization>
<localization>
<phrase>Invalid user name</phrase>
<translation/>
</localization>
<localization>
<phrase>To prevent abuse, results can only be sent to registered email addresses.</phrase>
<translation/>
</localization>
<localization>
<phrase>Activate by clicking on the link in the email which was sent to the address provided.</phrase>
<translation/>
</localization>
<localization>
<phrase>You can also register at www.bookwidgets.com.</phrase>
<translation/>
</localization>
<localization>
<phrase>Unknown error</phrase>
<translation/>
</localization>
<localization>
<phrase>Optional Message</phrase>
<translation/>
</localization>
<localization>
<phrase>Send</phrase>
<translation/>
</localization>
<localization>
<phrase>Send Failed</phrase>
<translation/>
</localization>
<localization>
<phrase>Sending, please wait...</phrase>
<translation/>
</localization>
<localization>
<phrase>Share</phrase>
<translation/>
</localization>
<localization>
<phrase>This field is required:</phrase>
<translation/>
</localization>
<localization>
<phrase>To Email</phrase>
<translation/>
</localization>
<localization>
<phrase>Uploading image</phrase>
<translation/>
</localization>
<localization>
<phrase>Uploading your answers...</phrase>
<translation/>
</localization>
<localization>
<phrase>You can't specify multiple addresses for field:</phrase>
<translation/>
</localization>
<localization>
<phrase>Your Email</phrase>
<translation/>
</localization>
<localization>
<phrase>Your Name</phrase>
<translation/>
</localization>
<localization>
<phrase>Click here to download your PDF</phrase>
<translation/>
</localization>
<localization>
<phrase>Could not generate PDF.  Please try again later.</phrase>
<translation/>
</localization>
<localization>
<phrase>Download Failed</phrase>
<translation/>
</localization>
<localization>
<phrase>Download as PDF</phrase>
<translation/>
</localization>
<localization>
<phrase>Generate</phrase>
<translation/>
</localization>
<localization>
<phrase>Generate PDF failed</phrase>
<translation/>
</localization>
<localization>
<phrase>Generating PDF, please wait...</phrase>
<translation/>
</localization>
<localization>
<phrase>PDF generated</phrase>
<translation/>
</localization>
<localization>
<phrase>Uploading image</phrase>
<translation/>
</localization>
<localization>
<phrase>Uploading your answers...</phrase>
<translation/>
</localization>
<localization>
<phrase>Your Name</phrase>
<translation/>
</localization>
<localization>
<phrase>Enter your name and click 'Generate' to generate the PDF.</phrase>
<translation/>
</localization>
<localization>
<phrase>Download</phrase>
<translation/>
</localization>
</LocalizationMap>
<DesignConstants template="Light Background" widget_color="#3498DB" widget_backgroundimage="" widget_font="Verdana">
<constant>
<name>backgroundbackground</name>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>backgroundimage</name>
<value/>
<kind>BackgroundImage</kind>
</constant>
<constant>
<name>backgroundoutline</name>
<value>2px, dotted, #3498DB, 127</value>
</constant>
<constant>
<name>titlefont</name>
<value>Verdana,20</value>
</constant>
<constant>
<name>titlecolor</name>
<value>#3498DB</value>
</constant>
<constant>
<name>titlebackground</name>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>titleborderbottom</name>
<value>1px, solid, #bbbbbb, 255</value>
</constant>
<constant>
<name>titleborderradius</name>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>titleshadow</name>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>sspopuptoolbarbackground</name>
<value>#ffffff, #ffffff, 255, 255</value>
</constant>
<constant>
<name>sspopuptoolbarcolor</name>
<value>#010539</value>
</constant>
<constant>
<name>sspopuptoolbarshadow</name>
<value>-1px, 1px, 1px, 0px, #010539, 32</value>
</constant>
<constant>
<name>toolbartextbuttonfont</name>
<value>Verdana, 14</value>
</constant>
<constant>
<name>toolbartextbuttoncolor</name>
<value>#ffffff</value>
</constant>
<constant>
<name>toolbartextbuttonbackground</name>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>toolbartextbuttonborderbottom</name>
<value>1px, solid, #3498DB, 255</value>
</constant>
<constant>
<name>toolbartextbuttonbordertop</name>
<value>1px, solid, #3498DB, 255</value>
</constant>
<constant>
<name>toolbartextbuttonborderleft</name>
<value>1px, solid, #3498DB, 255</value>
</constant>
<constant>
<name>toolbartextbuttonborderright</name>
<value>1px, solid, #3498DB, 255</value>
</constant>
<constant>
<name>toolbartextbuttonborderradius</name>
<value>$RadiusTextButton</value>
</constant>
<constant>
<name>rewardfont</name>
<value>Verdana,bold,86</value>
</constant>
<constant>
<name>rewardcolor</name>
<value>#7a002a</value>
</constant>
<constant>
<name>rewardbackground</name>
<value>#ffffff, #ffffff, 104, 104</value>
</constant>
<constant>
<name>rewardborderleft</name>
<value>0px, none, #808080, 255</value>
</constant>
<constant>
<name>rewardborderright</name>
<value>0px, none, #808080, 255</value>
</constant>
<constant>
<name>rewardbordertop</name>
<value>0px, none, #808080, 255</value>
</constant>
<constant>
<name>rewardborderbottom</name>
<value>0px, none, #808080, 255</value>
</constant>
<constant>
<name>rewardborderradius</name>
<value>20px, 20px, 20px, 20px</value>
</constant>
<constant>
<name>rewardshadow</name>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>cardfont</name>
<value>Verdana,20</value>
</constant>
<constant>
<name>cardcolor</name>
<value>#010539</value>
</constant>
<constant>
<name>cardborderleft</name>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>cardborderright</name>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>cardbordertop</name>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>cardborderbottom</name>
<value>5px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>cardborderradius</name>
<value>5px, 5px, 5px, 5px</value>
</constant>
<constant>
<name>cardshadow</name>
<value>0px, 2px, 4px, 1px, #010539, 48</value>
</constant>
<constant>
<name>cardbackground</name>
<value>#88badb, #88badb, 255, 255</value>
</constant>
<constant>
<name>cardfrontbackground</name>
<value>#88badb, #88badb, 255, 255</value>
</constant>
<constant>
<name>cardfrontimage</name>
<value/>
<kind>BackgroundImage</kind>
</constant>
<constant>
<name>dialogborderradius</name>
<value>24px, 24px, 24px, 24px</value>
</constant>
<constant>
<name>dialogshadow</name>
<value>0px, 2px, 4px, 1px, #010539, 48</value>
</constant>
<constant>
<name>dialogbackground</name>
<value>#3498DB, #3498DB, 255, 255</value>
</constant>
<constant>
<name>dialogborderleft</name>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>dialogborderright</name>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>dialogbordertop</name>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>dialogborderbottom</name>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>dialogcontentfont</name>
<value>Verdana,14</value>
</constant>
<constant>
<name>dialogcontentcolor</name>
<value>#ffffff</value>
</constant>
<constant>
<name>dialoglinkfont</name>
<value>Verdana,14</value>
</constant>
<constant>
<name>dialoglinkcolor</name>
<value>#ffffff</value>
</constant>
<constant>
<name>dialogtitlefont</name>
<value>Verdana,bold,18</value>
</constant>
<constant>
<name>dialogtitleborderradius</name>
<value>0px, 0px, 0px, 0px</value>
</constant>
<constant>
<name>dialogtitleshadow</name>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>dialogtitlecolor</name>
<value>#ffffff</value>
</constant>
<constant>
<name>dialogtitlebackground</name>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>dialogtitleborderleft</name>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>dialogtitleborderright</name>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>dialogtitlebordertop</name>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>dialogtitleborderbottom</name>
<value>0px, solid, #000000, 255</value>
</constant>
<constant>
<name>dialogbuttonfont</name>
<value>Verdana,16</value>
</constant>
<constant>
<name>dialogbuttonborderradius</name>
<value>24px, 24px, 24px, 24px</value>
</constant>
<constant>
<name>dialogbuttonshadow</name>
<value>0px, 0px, 0px, 0px, #888, 255</value>
</constant>
<constant>
<name>dialogbuttoncolor</name>
<value>#ffffff</value>
</constant>
<constant>
<name>dialogbuttonbackground</name>
<value>#ffffff, #ffffff, 0, 0</value>
</constant>
<constant>
<name>dialogbuttonborderleft</name>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>dialogbuttonborderright</name>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>dialogbuttonbordertop</name>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>dialogbuttonborderbottom</name>
<value>1px, solid, #ffffff, 255</value>
</constant>
<constant>
<name>dialogbuttonpadding</name>
<value>8px, 12px, 8px, 12px</value>
</constant>
<constant>
<name>dialogbuttonoutline</name>
<value>2px, dotted, #ffffff, 127</value>
</constant>
</DesignConstants>
<cover autosize="true"/>
<widget_orientation value="Horizontal">Horizontal</widget_orientation>
</MemoryGame>
